.nav>li>a {
  position: relative;
  display: block;
  padding: 7px 15px;
}
.nav>li>a:hover, .fa:hover, .nav>li>a:focus, .fa:focus {
  color: #c0392b;
  background-color: transparent;
}

.nav .h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.fa, a {
  color: #27ae60;
}

a:hover, a:focus {
  text-decoration: none;
  color: #c0392b;
}

.project-icon {
  width: 64px;
  height: 64px;
}

.thumbnail {
  border: none;
}

.section {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.section-header {
  padding-bottom: 20px;
}

.media {
  padding-bottom: 15px;
}